body {
    background-color: rgb(209, 162, 225);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color:white;
    border-color: white;
    border-style: dashed;
    border-width: 5px;
    text-align: center;
    margin-bottom: 10px;
}
/* start btn styling */
#start-btn {
    transform:translate(700px);
    background-color: white;
    border: none;
    font-size: 25px;
    padding: 5px;
    border-radius: 10px;
    
}

/* styling for hovering over the startbtn and answers */
button:hover {
    color: darkviolet;
    cursor: pointer;
}

.timer-box {
    position: relative;
    left: 85%;
    font-size: larger;
    font-weight: bolder;
    color: black;
    padding-bottom: 15px;
}

#timer-seconds {
    padding: 10px;
    position: relative;
    left: 1%;
}

#question-container {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    text-align: center;
    display: list-item;
    padding-bottom: 25px;
    display:none;
}
/* button styling for multiple choice answers */
#btn-one,#btn-two,#btn-three,#btn-four {
    border-color: white;
    border-radius: 10px;
    font-size: larger;
}

#score {
    text-align: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    padding-top: 20px;
}